{% include 'base.html' %}
{% block conteudo  %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sala</th>
      <th scope="col">Senha</th>
      <th scope="col">Data de criação</th>
      <th scope="col">Ações</th>
      <th scope="col">Deletar</th>
      
    </tr>
  </thead>
  <tbody>
    {% for c in contato %}
    <tr>
      <th scope="row">{{c.id}}</th>
      <td><a href="{%url 'index_contato' c.id %}"> {{c.paciente}}</a></td> 
      <td><a href="{%url 'index_contato' c.id %}"> {{c.senha}}</a></td> 
      <td><a href="{%url 'index_contato' c.id %}"> {{c.sala}}</a></td> 
      <td><a href="{%url 'index_contato' c.id %}"> {{c.horario|date:'d/m/Y'}}</a></td> 
      <td><a href="{%url 'update_contato' c.id %}"> editar</a></td> 
      <td>  
               <a href= "{%url 'delete_contato' c.id %}"> deletar</a>
          
      </td> 
    </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock conteudo  %}