{% include 'base.html' %}
{% block conteudo  %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Senha</th>
      <th scope="col">Data de criação</th>
      
    </tr>
  </thead>
  <tbody>
    {{% for c in contatos %}
    <tr>
      <th scope="row">{{c.id}}</th>
      <td><a href="{%url 'index_contato' c.id %}"> {{c.paciente}}</a></td> 
      <td><a href="{%url 'index_contato' c.id %}"> {{c.senha}}</a></td> 
      <td><a href="{%url 'index_contato' c.id %}"> {{c.sala}}</a></td> 
      <td><a href="{%url 'index_contato' c.id %}"> {{c.horario|date:'d/m/Y'}}</a></td> 
    </tr>  
    {% endfor %}}
  </tbody>
</table>
{% endblock conteudo  %}