{% include "base.html" %}
{% block conteudo  %}
<div style="padding: 30px">
<h1>{{contato.id}}</h1>
<form action={% url 'update_contato' contato.id %} method="post">
    {% csrf_token %}
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">paciente</span>
    </div>
    <input type="text" class="form-control" name="paciente" value="{{contato.paciente}}">
  </div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">senha</span>
    </div>
    <input type="text" class="form-control" name="senha" value="{{contato.senha}}"><br>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">sala</span>
    </div>
    <input type="text" class="form-control" name="sala" value="{{contato.sala}}"><br>
</div>
<button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock conteudo %}